# Pliki IDE
.idea/
.vscode/
*.iml

/target/*
/node_modules/*
*.log
*.gz
log.txt

!/target/*.jar

/application.properties
/application.yml

*.war
*.ear
spring-boot-starter-*.properties
logback*.xml

/src/main/resources/static/
/src/main/resources/templates/

/data/

/checkstyle.xml
/pmd.xml

/.mvn/
